<%= title t(:login) %>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :login %>
    <%= text_field_tag :login, nil, class: :string %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: :string %>
  </div>
  <%= submit_tag t(:login), :class => 'button submit' %>
<% end %>

<%= form_tag posts_path, :method => :get do %>
  <%= submit_tag t('helpers.submit.cancel'), :class => :cancel %>
<% end %>

<div class="clear"></div>
