<% present [comment, comment.commentable] do |presenter| %>
  <div class="comment" data-time="<%= comment.updated_at.to_i %>" style="background:<%= background %>">
    <%= presenter.content %>
    <%= presenter.timestamp %>
    <%= presenter.commenter %>
    <%= presenter.actions(delete) %>
    <div class="clear"></div>
  </div>
<% end %>
