<%= title @day.date %>

<hr>

<% cache @day do %>
  <%= render 'posts/posts', posts:@posts, title: :type if @posts.present? %>
<% end %>

<%= render 'posts/form', post:@post, partners:@training_partners, location:'post' %>

<%= form_tag posts_path(month:session_month), :method => :get do %>
  <%= submit_tag t('helpers.submit.calendar'), :class => :cancel %>
<% end %>

<div class="clear"></div>
