<%= title @training_type.name %>

<hr>

<%= render 'posts/posts', posts:@posts, title: :date %>

<h2><%= new(:post) %></h2>

<%= render 'posts/form', post:@post, partners:@training_partners, location:'type' %>

<%= form_tag posts_path, :method => :get do %>
  <%= submit_tag t('helpers.submit.calendar'), :class => :cancel %>
<% end %>

<div class="clear"></div>
