<% present post do |presenter| %>
  <hr>
  <li class="post thumb" style="background-color: <%= post.intensity_colour %>">
    <div class="left relative" style="color: <%= post.intensity_colour %>">
      <%= presenter.image %>
      <div class="number">
        <%= post.intensity %>
      </div>
    </div>
    <div class="right">
      <%= presenter.title(title) %>
      <%= presenter.timestamp %>
      <%= presenter.distance %>
      <%= presenter.author %>
      <%= presenter.training_partners %>
      <%= presenter.actions("new_comment_#{post.id}") %>
      <div class="clear"></div>
      <%= presenter.comment %>
      <%= presenter.comments %>
      <%= simple_form_for [post, post.last_comment], html:{id:"new_comment_#{post.id}"} do |f| %>
        <%= f.input :content, label:false %>
        <%= f.button :submit, class: :submit %>
      <% end %>
    </div>
    <div class="clear"></div>
  </li>
<% end %>
