<% present post do |presenter| %>
  <div class="post">
    <%= presenter.title(post.training_type,title) %>
    <%= presenter.timestamp %>
    <%= presenter.author %>
    <%= presenter.training_partners %>
    <%= presenter.actions %>
    <div class="clear"></div>
    <%= presenter.comment %>
  </div>
  <hr>
<% end %>
