<%= title edit(:post) %>

<%= render 'form', post:@post, date:@date %>

<%= form_tag new_post_path, :method => :get do %>
  <%= hidden_field_tag :date, @date %>
  <%= submit_tag t('helpers.submit.cancel'), :class => :cancel %>
<% end %>

<div class="clear"></div>
