<% present Post do |presenter| %>
  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", month:@month.prev_month %>
      <%= "#{t('date.month_names')[@month.strftime("%m_").to_i]} #{@month.strftime("%Y")}" %>
      <%= link_to ">", month:@month.next_month %>
    </h2>
    <%= calendar @month do |date| %>
      <%= presenter.posts_link(date) %>
      <% if @posts_by_date[date] %>
        <%= presenter.posts_count(@posts_by_date[date]) %>
      <% end %>
    <% end %>
  </div>

  <%= render 'toplists', users:@users, posts:@posts if @posts.present? if can? :new, Post %>

  <div class="clear"></div>
<% end %>
