<%= title @date %>

<hr>

<%= render 'posts', posts:@posts, title: :type if @posts.present? %>

<h2><%= new(:post) %></h2>

<%= render 'form', post:@post, partners:@training_partners, location:'post' %>

<%= form_tag posts_path, :method => :get do %>
  <%= submit_tag t('helpers.submit.calendar'), :class => :cancel %>
<% end %>

<div class="clear"></div>
