<%= title @date %>

<hr>

<%= render 'posts', posts:@posts, date:@date, month:@month if @posts.present? %>

<h2><%= new(:post) %></h2>

<%= render 'form', post:@post, date:@date, month:@month %>

<%= form_tag posts_path, :method => :get do %>
  <%= hidden_field_tag :date, @date %>
  <%= hidden_field_tag :month, @month %>
  <%= submit_tag t('helpers.submit.calendar'), :class => :cancel %>
<% end %>

<div class="clear"></div>
