<!DOCTYPE html>
<html>
<head>
  <title>Workout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_container">
  <%= render 'layouts/flash', flash:flash %>
  <%= render 'layouts/user_nav', month:@month %>
  <div class="clear"></div>
  <div id="main">
    <%= yield %>
  </div>
  <%= render 'layouts/chat', comments:@comments if can? :new, Comment %>
  <div class="clear"></div>
</div>

</body>
</html>
